@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


:root {
    --background-FFE500: #FFE500;
    --backgronud-e8E8E8: #e8E8E8;
    --color-636363: #636363;
    --color-border-D9D9D9: #D9D9D9;
    --color-0CAF1D: #0CAF1D;
    --color-font-FFFFFF: #FFFFFF;
    --color-btn-3483FA: #3483FA;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}

html,
body {
    background-color: var(--backgronud-e8E8E8);
}

header {
    background-color: var(--background-FFE500);
    height: 70px;
    display: flex;
    align-items: center;
}

nav {
    color: var(--color-636363);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#product-details {
    padding: 20px 0;
}

.card {
    border: 1px solid var(--color-border-D9D9D9);
    background-color: var(--color-font-FFFFFF);
    border-radius: 4px;
}

.card-top {
    border-bottom: 1px solid var(--color-border-D9D9D9);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.card-top img {
    width: 220px;
}

.card-bottom {
    padding: 10px 20px 20px 20px;
}

.card-bottom h3 {
    color: var(--color-0CAF1D);
}

.card-bottom h4 {
    color: var(--color-636363);
    font-size: 12px;
}

.card-bottom p {
    color: var(--color-636363);
    font-size: 12px;
    margin: 10px 0;
}

.category {
    margin-right: 20px;
    padding: 0 20px;
    background-color: var(--color-636363);
    border-radius: 4px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    color: var(--color-font-FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-container {
    display: flex;
}

.btn-page-container {
    width: 220px;
    display: grid;
    grid-gap: 20px;
}

.btn {
    border-radius: 4px;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-btn-3483FA);
}

.btn-blue {
    background-color: var(--color-btn-3483FA);
    color: var(--color-font-FFFFFF);
}

.btn-white {
    background-color: var(--color-font-FFFFFF);
    color: var(--color-btn-3483FA);
    border: 1px solid var(--color-btn-3483FA);
}


.mb20 {
    margin-bottom: 20px;
}